 .contenedor {
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      padding: 20px;
    }

    .card {
      width: 300px;
      padding: 20px;
      background: rgb(104, 219, 138);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.2);
      text-align: center;
    }